/* 교환하기 눌렀을때 이펙트 모달 css */
/* Modal 배경 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75); /* 어두운 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal 내용 */
  .modal-content {
    position: relative; /* 이미지 겹치기를 위해 상대 위치 설정 */
    width: 300px; /* 컨테이너 크기 */
    height: 300px;
  }
  
  /* 첫 번째 이미지 */
  .light-image {
    position: absolute;
    top: 50%; 
    left: 50%;         
    transform: translate(-50%, -50%); 
    width: 300%;
    height: 300%;
    object-fit: contain;
}
 